@font-face {
  font-family: 'iconfont';  /* project id 1208916 */
  src: url('//at.alicdn.com/t/font_1208916_8vx7m1iy9zf.eot');
  src: url('//at.alicdn.com/t/font_1208916_8vx7m1iy9zf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1208916_8vx7m1iy9zf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1208916_8vx7m1iy9zf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1208916_8vx7m1iy9zf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1208916_8vx7m1iy9zf.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-querenduigougouhao:before {
  content: "\e642";
}

.icon-icon_add:before {
  content: "\eb8f";
}

.icon-icon_addmessage:before {
  content: "\eb90";
}

.icon-icon_addresslist:before {
  content: "\eb91";
}

.icon-icon_affiliations_li:before {
  content: "\eb92";
}

.icon-icon_alipay_line:before {
  content: "\eb93";
}

.icon-icon_airplay:before {
  content: "\eb94";
}

.icon-icon_exchange:before {
  content: "\eb95";
}

.icon-icon_likegood:before {
  content: "\eb97";
}

.icon-icon_index_line:before {
  content: "\eb98";
}

.icon-icon_link:before {
  content: "\eb99";
}

.icon-icon_QRcode:before {
  content: "\eb9a";
}

.icon-icon_scan:before {
  content: "\eb9c";
}

.icon-icon_video:before {
  content: "\eba2";
}

.icon-icon_photo_fill:before {
  content: "\ebac";
}

.icon-icon_service_fill:before {
  content: "\ebaf";
}

.icon-icon_newgroup_fill:before {
  content: "\ebb0";
}

.icon-icon_trashcan:before {
  content: "\ebb1";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e634";
}

.icon-icon-test2:before {
  content: "\e635";
}

.icon-icon-test3:before {
  content: "\e63a";
}

.icon-icon-test4:before {
  content: "\e63b";
}

.icon-icon-test5:before {
  content: "\e63c";
}

.icon-icon-test6:before {
  content: "\e63d";
}

.icon-icon-test7:before {
  content: "\e63e";
}

.icon-icon-test8:before {
  content: "\e63f";
}

.icon-icon-test9:before {
  content: "\e640";
}

.icon-icon-test10:before {
  content: "\e641";
}

.icon-icon-test11:before {
  content: "\e646";
}

.icon-icon-test12:before {
  content: "\e64d";
}

.icon-icon-test13:before {
  content: "\e64e";
}

.icon-icon-test14:before {
  content: "\e658";
}

.icon-icon-test15:before {
  content: "\e659";
}

.icon-icon-test16:before {
  content: "\e65a";
}

.icon-icon-test17:before {
  content: "\e65b";
}

